name: MPI Rabbits CI

on:
  push:
    branches: [ "main", "devops" ]
  pull_request:
    branches: [ "main", "devops" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      
      - name: Install MPI
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake libopenmpi-dev openmpi-bin g++
          
      - name: Build project
        run: |
          # Переходим в папку проекта
          cd Parprog-proj-v20/Project-part-3_
          
          # Собираем
          cmake -B build
          cmake --build build --parallel 4
          
      - name: Run main program
        run: |
          cd Parprog-proj-v20/Project-part-3_/build
          echo "Running main program..."
          timeout 10s mpirun -np 20 ./rabbits || echo "Program finished"
          
      - name: Run tests with ctest
        run: |
          cd Parprog-proj-v20/Project-part-3_/build
          echo "Running tests..."
          ctest --output-on-failure --verbose
